.le-couteau-dans-leau {
  align-items: flex-end;
  box-shadow: 0px -13px 42px #0000003d;
  display: flex;
  margin-left: 24px;
  min-width: 1408px;
}

.hq720-4 {
  height: 255px;
  width: 454px;
}

.flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  margin-left: 570px;
  min-height: 158px;
  width: 384px;
}

.ic-play-copy-3 {
  align-self: center;
  height: 97px;
  margin-right: 1.0px;
  width: 97px;
}

.le-couteau-dans-lea {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 8px;
  min-height: 27px;
  white-space: nowrap;
}

.x1962-thriller {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 7px;
  min-height: 19px;
  opacity: 0.4;
  white-space: nowrap;
}

.span-6 {
  line-height: 19px;
}

.span-7 {
  line-height: 18px;
}

.le-couteau-dans-leau-1 {
  align-items: flex-end;
  box-shadow: 0px -13px 42px #0000003d;
  display: flex;
  margin-left: 24px;
  min-width: 1408px;
}

.hq720-4-1 {
  height: 255px;
  width: 454px;
}

.flex-col-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  /*margin-bottom: 18px;*/
  /*margin-left: 570px;*/
  min-height: 158px;
  width: 384px;
}

.ic-play-copy-3-1 {
  align-self: center;
  height: 97px;
  margin-right: 1.0px;
  width: 97px;
}

.le-couteau-dans-lea-1 {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 27px;
  margin-top: 8px;
  min-height: 27px;
  white-space: nowrap;
}

.x1962-thriller-1 {
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 7px;
  min-height: 19px;
  opacity: 0.4;
  white-space: nowrap;
}

.span-8 {
  line-height: 19px;
}

.span-9 {
  line-height: 18px;
}