.searchresults {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 1024px;
  position: relative;
  width: 1440px;
}

.nav-bar-2 {
  align-items: center;
  background-color: var(--licorice-2);
  display: flex;
  height: 70px;
  min-width: 1440px;
  padding: 14px 50px;
}

.logo-netflix-2 {
  align-self: flex-end;
  height: 41px;
  width: 63px;
}

.jeunesse-2 {
  letter-spacing: 0;
  line-height: 18px;
  margin-bottom: 2.0px;
  margin-left: 1052px;
  min-height: 18px;
  min-width: 84px;
  white-space: nowrap;
}

.ic-notification-2 {
  align-self: flex-start;
  height: 30px;
  margin-left: 22px;
  margin-top: 2px;
  width: 30px;
}

.placeholder-avatar-2 {
  height: 34px;
  margin-left: 24px;
  width: 33px;
}

.ic-dropdown-2 {
  height: 6px;
  margin-left: 10px;
  margin-top: 2.0px;
  width: 12px;
}

.results-page-searchbar {
  align-items: flex-start;
  display: flex;
  margin-left: 1.0px;
  min-width: 1013px;
}

/*.overlap-group-1 {*/
/*  height: 74px;*/
/*  position: relative;*/
/*  width: 1014px;*/
/*}*/

.react-tutorial-1 {
  font-weight: 700;
  left: 205px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 413px;
}

.span-10 {
  line-height: 72px;
}

.span2 {
  color: var(--cerulean);
  font-family: var(--font-family-kailasa-bold);
  font-size: 60px;
  line-height: 78px;
}

.search-3 {
  color: var(--jelly-bean);
  font-family: var(--font-family-helvetica-bold);
  font-size: 43px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 52px;
  position: absolute;
  top: 28px;
  white-space: nowrap;
  width: 216px;
}

.line {
  height: 2px;
  left: 172px;
  position: absolute;
  top: 68px;
  width: 842px;
}

.search-results {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 17.0px;
  margin-top: 87px;
  min-height: 716px;
  position: relative;
  width: 1215px;
}