.ils-aimaient-la-vie {
  align-items: flex-end;
  background-size: 100% 100%;
  box-shadow: 0px -13px 42px #0000003d;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 255px;
  padding: 18px 32.1px;
  width: 420px;
}

.ic-play-copy-4 {
  align-self: center;
  height: 97px;
  width: 90px;
}

.overlap-group4 {
  height: 53px;
  margin-top: 8px;
  position: relative;
  width: 355px;
}

.ils-aimaient-la-vie-1 {
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 0;
  width: 162px;
}

.textlabel-1 {
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 0.4;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 355px;
}

.span-2 {
  line-height: 19px;
}

.span-3 {
  line-height: 18px;
}

.ils-aimaient-la-vie-2 {
  align-items: flex-end;
  background-size: 100% 100%;
  box-shadow: 0px -13px 42px #0000003d;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  min-height: 255px;
  padding: 18px 32.1px;
  width: 420px;
}

.ic-play-copy-4-1 {
  align-self: center;
  height: 97px;
  width: 90px;
}

.overlap-group4-1 {
  height: 53px;
  margin-top: 8px;
  position: relative;
  width: 355px;
}

.ils-aimaient-la-vie-3 {
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 27px;
  position: absolute;
  top: 0;
  width: 162px;
}

.textlabel-2 {
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 16px;
  opacity: 0.4;
  position: absolute;
  top: 34px;
  white-space: nowrap;
  width: 355px;
}

.span-4 {
  line-height: 19px;
}

.span-5 {
  line-height: 18px;
}